<% content_for :title do %>Jenkins jobs for Ratio<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ratio-build" data-view="JenkinsBuild" data-title="Ratio build" data-description="Build for Ratio Project" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="ratio-dev" data-view="JenkinsBuild" data-title="Ratio DEV" data-description="Dev build for Ratio Project" data-min="0" data-max="100"></div>
    </li>
    
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="ratio-qa" data-view="JenkinsBuild" data-title="Ratio QA" data-description="Qa build for Ratio Project" data-min="0" data-max="100"></div>
    </li>
  </ul>
</div>
